
<div class="h-full w-full flex flex-col">

<!-- Header -->
<header class="w-full bg-white shadow flex items-center px-4 py-2">
  <div class="flex items-center space-x-2">
      <img class="h-8" src="../../../assets/images/logo.png" alt="Logo">
      <h1 class="flex flex-col text-sm font-bold leading-tight">
        <span>Traveller's{{" "}}</span>
        <span>Friend</span>
      </h1>
  </div>
  <div class="ml-auto flex items-center space-x-2">
    <button class="menu-item px-3 py-1 rounded-md bg-transparent text-black hover:bg-gray-100"
      (click)="openAboutModal()">
      About
    </button>
  </div>
  @if (isLoadingData) {
  <div class="absolute bottom-0 left-0 w-full">
    <div class="h-1 bg-gradient-to-r from-orange-500 via-yellow-400 to-green-500 animate-pulse"></div>
  </div>
  }
</header>

<!-- Main Content -->
<main class="relative w-full flex-1">
  <div class="h-full w-full">
    <app-map (markerClicked)="openModal($event)" (openSettingsModal)="openSettingsModal()"></app-map>
  </div>

  <!-- Floating Buttons -->
  <div class="fixed top-18 right-8">
    <button class="rounded-full bg-traveller text-white p-4 shadow-lg hover:bg-traveller-shade transition"
      (click)="openTileLayerModal()">
      <lucide-icon [img]="layersIcon"></lucide-icon>
    </button>
  </div>

  <div class="fixed bottom-8 right-8">
    <button class="rounded-full bg-traveller text-white p-4 shadow-lg hover:bg-traveller-shade transition"
      (click)="openSettingsModal()">
      <lucide-icon [img]="filterIcon"></lucide-icon>
    </button>
  </div>


  <app-popup [show]="modalIsOpen" (close)="modalIsOpen = false" [title]="heading">
    @if (tags) {
    <div class="grid grid-cols-3 gap-4 mt-4 text-center">
      @if (tags.charge) {
      <div>
        <p class="font-bold">Charge</p>
        <p>{{ tags.charge }}</p>
      </div>
      }
      @if (tags.fee === 'no') {
      <div>
        <p class="font-bold">Charge</p>
        <p>free</p>
      </div>
      }
      @if (tags.wheelchair) {
      <div>
        <p class="font-bold">Accessible</p>
        <p>{{ tags.wheelchair }}</p>
      </div>
      }
      @if (tags.opening_hours) {
      <div>
        <p class="font-bold">Opening Hours</p>
        <p>{{ tags.opening_hours }}</p>
      </div>
      }
      @if (tags.access && tags.access !== 'yes') {
      <div>
        <p class="font-bold">Access</p>
        <p>{{ tags.access }}</p>
      </div>
      }
      @if (tags.drinking_water === 'yes') {
      <div>
        <p class="font-bold">Drinking Water</p>
        <p>Yes</p>
      </div>
      }
      @if (tags.fitness_station) {
      <div>
        <p class="font-bold">Fitness station</p>
        <p>{{ tags.fitness_station }}</p>
      </div>
      }
      @if (tags.operator) {
      <div>
        <p class="font-bold">Operator</p>
        <p>{{ tags.operator }}</p>
      </div>
      }
      @if (tags.name) {
      <div>
        <p class="font-bold">Name</p>
        <p>{{ tags.name }}</p>
      </div>
      }
    </div>

    @if (tags.website) {
    <div class="mt-4 flex flex-col items-center">
      <p class="font-bold">Website</p>
      <a class="text-blue-600 underline" href="{{ tags.website }}" target="_blank" rel="noopener noreferrer">
        {{ tags.website }}
      </a>
    </div>
    }
    }

    <div class="flex justify-center mt-6">
      <a [href]="'https://www.openstreetmap.org/edit?node=' + nodeId" target="_blank"
        class="px-6 py-2 rounded-full bg-traveller text-white hover:bg-traveller-shade transition">
        Add missing information
      </a>
    </div>
  </app-popup>

  <app-popup [show]="isSettingsModalOpen" (close)="isSettingsModalOpen = false" title="Filter">
    <div class="flex flex-col space-y-2 mt-4">
      <label class="flex items-center space-x-2">
        <input type="checkbox" [checked]="settings.water" (change)="settingsChanged('water', $event)" />
        <span>Drinking Water</span>
      </label>
      <label class="flex items-center space-x-2">
        <input type="checkbox" [checked]="settings.toilets" (change)="settingsChanged('toilets', $event)" />
        <span>Toilets</span>
      </label>
      <label class="flex items-center space-x-2">
        <input type="checkbox" [checked]="settings.bikeStations" (change)="settingsChanged('bikeStations', $event)" />
        <span>Bike Repair Stations</span>
      </label>
      <label class="flex items-center space-x-2">
        <input type="checkbox" [checked]="settings.atm" (change)="settingsChanged('atm', $event)" />
        <span>ATMs</span>
      </label>
      <label class="flex items-center space-x-2">
        <input type="checkbox" [checked]="settings.tabletennis" (change)="settingsChanged('tabletennis', $event)" />
        <span>Table Tennis Tables</span>
      </label>
      <label class="flex items-center space-x-2">
        <input type="checkbox" [checked]="settings.fitness" (change)="settingsChanged('fitness', $event)" />
        <span>Outdoor Gyms</span>
      </label>
    </div>
  </app-popup>

  <app-popup [show]="isTileLayerModalOpen" (close)="isTileLayerModalOpen = false" title="Map type">
    <div class="flex space-x-4 mt-4 justify-center">
      <div (click)="tileLayerChanged(0)" class="cursor-pointer  rounded-lg text-center">
        <img class="h-20 w-20 object-cover rounded-lg mb-1" [ngClass]="{ 'border-traveller border-4': tileMode === 0 }"
          src="../../../assets/images/satelite-tiles.png" />
        <p>Satelite</p>
      </div>
      <div (click)="tileLayerChanged(1)" class="cursor-pointer text-center">
        <img class="h-20 w-20 object-cover rounded-lg mb-1" [ngClass]="{ 'border-traveller border-4': tileMode === 1 }"
          src="../../../assets/images/default-tiles.png" />
        <p>Normal</p>
      </div>
    </div>
  </app-popup>

  <app-popup [show]="isAboutModalOpen" (close)="isAboutModalOpen = false" title="About">
    <p class="mt-4">
      Travellers Friend was created during the
      <a href="https://digitaleinitiativen.at/initiativen/ummahuesla-hackathon/" target="_blank"
        class="text-traveller font-bold underline">Umma Hüsla Hackathon</a>
      2022 by Daniel, Mathias and Jakob.
    </p>
    <p class="mt-2">
      The source code is available on
      <a href="https://github.com/daniebeler/travellers-friend" target="_blank"
        class="text-traveller font-bold underline">Github</a>.
    </p>
  </app-popup>

</main>
</div>