<ion-header>
  <ion-toolbar mode="md">
    <ion-title class="">Traveller's Friend</ion-title>
    <ion-buttons slot="end">
      <ion-button class="menu-item" (click)="openAboutModal()">About</ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="isLoadingData" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div id="container">
    <app-map (markerClicked)="openModal($event)" (openSettingsModal)="openSettingsModal()"></app-map>
  </div>

  <ion-fab style="bottom: 2em; right: 2em;" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTileLayerModal()">
      <ion-icon name="layers"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab style="bottom: 2em; right: 2em;" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openSettingsModal()">
      <ion-icon name="filter"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="modalIsOpen" (willDismiss)="modalIsOpen = false" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1 class="ion-text-center bold ion-text-uppercase">
                {{ heading }}
              </h1>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="tags" style="display: flex; justify-content: center">
            <ion-col size="4" *ngIf="tags.charge">
              <p class="ion-text-center">Charge</p>
              <p class="ion-text-center">{{tags.charge}}</p>
            </ion-col>

            <ion-col size="4" *ngIf="tags.fee === 'no'">
              <p class="ion-text-center">Charge</p>
              <p class="ion-text-center">free</p>
            </ion-col>

            <ion-col size="4" *ngIf="tags.wheelchair">
              <p class="ion-text-center">Accessible</p>
              <p class="ion-text-center">{{tags.wheelchair}}</p>
            </ion-col>

            <ion-col size="4" *ngIf="tags.opening_hours">
              <p class="ion-text-center">Opening Hours</p>
              <p class="ion-text-center">{{tags.opening_hours}}</p>
            </ion-col>

            <ion-col size="4" *ngIf="tags.access && tags.access !== 'yes'">
              <p class="ion-text-center">Access</p>
              <p class="ion-text-center">{{tags.access}}</p>
            </ion-col>

            <ion-col size="4" *ngIf="tags.drinking_water === 'yes'">
              <p class="ion-text-center">Drinking Water</p>
              <p class="ion-text-center">Yes</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="display: flex; justify-content: center">
              <ion-button class="add-info-btn" shape="round"
                [href]="'https://www.openstreetmap.org/edit?node=' + nodeId" target="_blank" style="margin-top: 30px">
                Add missing information
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isSettingsModalOpen" (willDismiss)="isSettingsModalOpen = false" [initialBreakpoint]="1"
    [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1 class="ion-text-center bold ion-text-uppercase">Filter</h1>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-checkbox [checked]="settings.water" (ionChange)="settingsChanged('water', $event)"
                labelPlacement="end">Drinking water</ion-checkbox>
              <br />
              <ion-checkbox [checked]="settings.toilets" (ionChange)="settingsChanged('toilets', $event)"
                labelPlacement="end">Toilets</ion-checkbox>
              <br />
              <ion-checkbox [checked]="settings.bikeStations" (ionChange)="settingsChanged('bikeStations', $event)"
                labelPlacement="end">Bike Repair Stations</ion-checkbox>
              <br />
              <ion-checkbox [checked]="settings.atm" (ionChange)="settingsChanged('atm', $event)"
                labelPlacement="end">ATMs</ion-checkbox>

              <br />
              <ion-checkbox [checked]="settings.tabletennis" (ionChange)="settingsChanged('tabletennis', $event)"
                labelPlacement="end">Table tennis</ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isTileLayerModalOpen" (willDismiss)="isTileLayerModalOpen = false" [initialBreakpoint]="1"
    [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1 class="ion-text-center bold ion-text-uppercase">Map type</h1>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="auto">
              <div (click)="tileLayerChanged(0)" class="tile-button-wrapper"
                [ngClass]="{'active-tile-button': tileMode === 0}">
                <img class="tile-img" src="../../../assets/images/satelite-tiles.png">
                <p>Satelite</p>
              </div>
            </ion-col>

            <ion-col size="auto">
              <div (click)="tileLayerChanged(1)" class="tile-button-wrapper"
                [ngClass]="{'active-tile-button': tileMode === 1}">
                <img class="tile-img" src="../../../assets/images/default-tiles.png">
                <p>Normal</p>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isAboutModalOpen" (willDismiss)="isAboutModalOpen = false" [initialBreakpoint]="1"
    [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1 class="ion-text-center bold ion-text-uppercase">About</h1>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <p>
                Travellers Friend was created during the
                <a href="https://digitaleinitiativen.at/initiativen/ummahuesla-hackathon/" target="_blank">Umma Hüsla
                  Hackathon</a>
                2022 by Daniel, Mathias and Jakob.
              </p>
              <p>


                The source code is available on
                <a href="https://github.com/daniebeler/travellers-friend" target="_blank">Github</a>.
              </p>


            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
