.water-modal .add-info-btn {
  background: var(--color-water);
}

.toilet-modal .add-info-btn {
  background: var(--color-toilet);
}

.bike-modal .add-info-btn {
  background: var(--color-bike);
}

.atm-modal .add-info-btn {
  background: var(--color-atm);
}

.tabletennis-modal .add-info-btn {
  background: var(--color-tabletennis);
}

.fitness-modal .add-info-btn {
  background: var(--color-fitness);
}
