<div class="h-full relative overflow-hidden">
  <mgl-map [mapStyle]="currentStyle" [zoom]="[14]" [center]="[initialCoords.long, initialCoords.lat]"
    (mapLoad)="onMapLoad($event)" (moveEnd)="onMapMove($event)" class="h-full w-full">

    @for (source of mapSources; track source.id) {
    <mgl-geojson-source [id]="source.id" [cluster]="false">
    </mgl-geojson-source>

    <mgl-layer [id]="source.id + '-icon'" type="symbol" [source]="source.id" [layout]="{
    'icon-image': ['get', 'icon-name'],
    'icon-size': 0.15,
    'icon-allow-overlap': true,
    'icon-anchor': 'bottom'
  }" (layerClick)="onMarkerClick($event)">
    </mgl-layer>
    }

    <mgl-control mglGeolocate [positionOptions]="{enableHighAccuracy: true}" [trackUserLocation]="true"></mgl-control>
    <mgl-control mglNavigation position="top-right"></mgl-control>
  </mgl-map>

  <div class="fixed bottom-24 right-8 flex flex-col gap-2">
    <button (click)="goToCurrentLocation()"
      [class]="isAtCurrentLocation ? 'bg-gray-800 text-blue-600' : 'bg-gray-800 text-white'"
      class="rounded-full p-4 shadow-lg hover:bg-gray-900 transition">
      <lucide-icon
        [img]="isAtCurrentLocation ? locateFixedIcon : (currentPosition ? locateIcon : locateOffIcon)"></lucide-icon>
    </button>
  </div>
</div>
