<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <div class="map-container">

    <div class="map-frame">
      <div id="map"></div>
    </div>


  </div>

  <div class="overlay" *ngIf="!this.watersLoaded && this.showWaters || (!this.toiletsLoaded && this.showToilets)" style="z-index: 100;">
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-spinner name="crescent"></ion-spinner>
        </ion-col>
        <ion-col class="ion-text-center loading-text-wrapper">
          Loading...
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-fab style="bottom: 2em; right: 2em;" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [ngClass]="accessibleToiletsMode ? 'btn-blue': ''" (click)="toggleAccessibleMode()">
        <i class="fa fa-wheelchair"></i>
      </ion-fab-button>
      <ion-fab-button [ngClass]="showWaters ? 'btn-blue': ''" (click)="toggleWaters()">
        <ion-icon name="water-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [ngClass]="showToilets ? 'btn-blue': ''" (click)="toggleToilets()">
        <i class="fa fa-toilet"></i>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</div>
