@if (tags) {
<div class="space-y-3">
  @if (tags.charge) {
  <div class="flex items-center space-x-2">
    <div class="rounded-full bg-orange-600 text-white p-2">
      <lucide-icon [img]="freeOfChargeIcon"></lucide-icon>
    </div>
    <span class="font-bold">Costs {{ tags.charge }}</span>
  </div>
  }
  @if (tags.fee === 'no') {
  <div class="flex items-center space-x-2">
    <div class="rounded-full bg-green-600 text-white p-2">
      <lucide-icon [img]="freeOfChargeIcon"></lucide-icon>
    </div>
    <span class="font-bold">Free of charge</span>
  </div>
  }
  @if (tags.wheelchair === "yes") {
  <div class="flex items-center space-x-2">
    <div class="rounded-full bg-green-600 text-white p-2">
      <lucide-icon [img]="wheelchairIcon"></lucide-icon>
    </div>
    <span class="font-bold">Unrestricted wheelchair access</span>
  </div>
  }
  @if (tags.wheelchair === "limited") {
  <div class="flex items-center space-x-2">
    <div class="rounded-full bg-orange-600 text-white p-2">
      <lucide-icon [img]="wheelchairIcon"></lucide-icon>
    </div>
    <span class="font-bold">Limited accessibility</span>
  </div>
  }
  @if (tags.opening_hours) {
  <div class="flex items-center space-x-2">
    <div class="rounded-full bg-gray-600 text-white p-2">
      <lucide-icon [img]="openingHoursIcon"></lucide-icon>
    </div>
    <span class="font-bold">Open {{tags.opening_hours}}</span>
  </div>
  }
  @if (tags.drinking_water === 'yes') {
  <div class="flex items-center space-x-2">
    <div class="rounded-full bg-blue-600 text-white p-2">
      <lucide-icon [img]="drinkingWaterIcon"></lucide-icon>
    </div>
    <span class="font-semibold">Drinking water</span>
  </div>
  }
  @if (tags.operator) {
  <div class="flex items-center space-x-2">
    <div class="rounded-full bg-gray-600 text-white p-2">
      <lucide-icon [img]="elevatorOperatorIcon"></lucide-icon>
    </div>
    <span class="font-semibold">Operated by {{ tags.operator }}</span>
  </div>
  }
  @if (tags.name) {
  <div class="flex items-center space-x-2">
    <div class="rounded-full bg-gray-600 text-white p-2">
      <lucide-icon [img]="nameIcon"></lucide-icon>
    </div>
    <span class="font-semibold">{{ tags.name }}</span>
  </div>
  }

  @if (tags.website) {
  <div class="flex items-center space-x-2">
    <div class="rounded-full bg-gray-600 text-white p-2">
      <lucide-icon [img]="websiteIcon"></lucide-icon>
    </div>
    <a class="text-blue-600 underline" href="{{ tags.website }}" target="_blank" rel="noopener noreferrer">
      {{ tags.website }}
    </a>
  </div>
  }
</div>
}

<div class="flex justify-center mt-6">
  <a [href]="'https://www.openstreetmap.org/edit?node=' + nodeId" target="_blank"
    class="px-6 py-2 rounded-full add-info-btn text-white text-sm transition">
    Add missing information
  </a>
</div>
