@if (tags) {
<div class="grid grid-cols-3 gap-4 justify-items-center mt-4 text-center">
  @if (tags.charge) {
  <div>
    <p class="font-bold">Charge</p>
    <p>{{ tags.charge }}</p>
  </div>
  }
  @if (tags.fee === 'no') {
  <div>
    <p class="font-bold">Charge</p>
    <p>free</p>
  </div>
  }
  @if (tags.wheelchair) {
  <div>
    <p class="font-bold">Accessible</p>
    <p>{{ tags.wheelchair }}</p>
  </div>
  }
  @if (tags.opening_hours) {
  <div>
    <p class="font-bold">Opening Hours</p>
    <p>{{ tags.opening_hours }}</p>
  </div>
  }
  @if (tags.access && tags.access !== 'yes') {
  <div>
    <p class="font-bold">Access</p>
    <p>{{ tags.access }}</p>
  </div>
  }
  @if (tags.drinking_water === 'yes') {
  <div>
    <p class="font-bold">Drinking Water</p>
    <p>Yes</p>
  </div>
  }
  @if (tags.fitness_station) {
  <div>
    <p class="font-bold">Fitness station</p>
    <p>{{ tags.fitness_station }}</p>
  </div>
  }
  @if (tags.operator) {
  <div>
    <p class="font-bold">Operator</p>
    <p>{{ tags.operator }}</p>
  </div>
  }
  @if (tags.name) {
  <div>
    <p class="font-bold">Name</p>
    <p>{{ tags.name }}</p>
  </div>
  }
</div>

@if (tags.website) {
<div class="mt-4 flex flex-col items-center">
  <p class="font-bold">Website</p>
  <a class="text-blue-600 underline" href="{{ tags.website }}" target="_blank" rel="noopener noreferrer">
    {{ tags.website }}
  </a>
</div>
}
}

<div class="flex justify-center mt-6">
  <a [href]="'https://www.openstreetmap.org/edit?node=' + nodeId" target="_blank"
    class="px-6 py-2 rounded-full add-info-btn text-white text-sm transition">
    Add missing information
  </a>
</div>
