/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";

@font-face {
  font-family: "custom-regular";
  src: url("/assets/fonts/RobotoFlex-VariableFont.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "custom-medium";
  src: url("/assets/fonts/RobotoFlex-VariableFont.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "custom-semibold";
  src: url("/assets/fonts/RobotoFlex-VariableFont.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "custom-bold";
  src: url("/assets/fonts/RobotoFlex-VariableFont.ttf") format("truetype");
  font-display: swap;
  font-weight: 800;
}

.regular {
  font-family: "custom-regular";
}

.medium {
  font-family: "custom-medium";
}

.semibold {
  font-family: "custom-semibold";
}

.bold {
  font-family: "custom-bold";
}

* {
  font-family: "custom-medium", sans-serif;
}

ion-modal {
  --border-radius: 16px 16px 0 0;
}

.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out,
    -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out,
    -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out,
    -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.toilet-cluster {
  background-color: var(--color-toilet);
  color: var(--color-toilet);
}

.water-cluster {
  background-color: var(--color-water);
  color: var(--color-water);
}

.bike-cluster {
  background-color: var(--color-bike);
  color: var(--color-bike);
}

.atm-cluster {
  background-color: var(--color-atm);
  color: var(--color-atm);
}

.tabletennis-cluster {
  background-color: var(--color-tabletennis);
  color: var(--color-tabletennis);
}

.fitness-cluster {
  background-color: var(--color-fitness);
  color: var(--color-fitness);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-cluster div {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}
